# cuda12.6+cuDNN9.6+python3.13.2+torch2.6.0
matplotlib
numpy
numba
phonemizer
scipy
tensorboard
Unidecode
amfm_decompy
jieba_fast
jieba
transformers
pypinyin
cn2an
gradio
av
mecab-python3
loguru
unidic-lite
cmudict
fugashi
num2words
PyYAML
requests
pyopenjtalk
jaconv
psutil
GPUtil
vector_quantize_pytorch
g2p_en
sentencepiece
pykakasi
langid
onnxruntime-gpu
standard-imghdr
soundfile
torch; platform_system != "Windows"
torchaudio; platform_system != "Windows"